.login {
  justify-content: center;
  align-items: center;
}

.login__subtitle {
  display: block;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}

.login__card {
  width: 100%;
  max-width: 360px;
  margin-top: 24px;
}

.login__form {
  margin-top: 16px;
}
